* {
    margin: 0;
    padding: 0;
  }
  .bodyCard{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 30px;
    justify-content: space-around;
    /* align-items: center; */
}
.RestaurantCard{
    width: 250px;
    margin: 10px 20px;
    border-radius: 10px;

    border: 1px solid rgb(229, 19, 96);
}

.RestaurantCard img{
    width: 100%;
    border-radius: 10px;

    /* padding: 10px; */
    /* border: 2px solid rgb(47, 88, 223); */
}   
/* search bar */

.searchBar{
    display: flex;
    margin: 20px 60px;
    padding: 5px 5px;
    border: 1px solid burlywood;
    justify-content: left;
}

/* ----------HEADER STYLE------------ */
.Header{
    display: flex;
    border: 2px solid green;
    justify-content: space-between;
}
.Header ul{
    display: inline-flex;
    list-style: none;
}
.Header ul li{
    list-style: none;
    padding-left: 20px;
}